////////////////////////////////////////////////////////////////////////////////
// Structure
////////////////////////////////////////////////////////////////////////////////

#hd {
	background: #444;
	border-bottom: 2px solid #999;
	padding: 0 1em;
}
#logo {
	font-family: NeutonRegular, sans-serif;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	
	&:hover i:before {
		visibility: visible;
	}
	i:before {
		font-size: 0.5em;
		visibility: hidden;
	}
}

