////////////////////////////////////////////////////////////////////////////////
// Structure
////////////////////////////////////////////////////////////////////////////////

#hd {
	background: #444444;
	background: -moz-linear-gradient(top,  #444444 50%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#444444), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top,  #444444 50%,#0e0e0e 100%);
	background: -o-linear-gradient(top,  #444444 50%,#0e0e0e 100%);
	background: -ms-linear-gradient(top,  #444444 50%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #444444 50%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#0e0e0e',GradientType=0 );
	border-bottom: 2px solid #999;
	padding: 0 1em;
	box-shadow: inset 0 0 0.5em #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#logo {
	background: url(../img/logo-david.png) no-repeat left center;
	background-size: auto 82%;
	padding-left: 1.75em;
	font-family: NeutonRegular, sans-serif;
	font-size: 2em;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	
	&:hover i:before {
		visibility: visible;
	}
	i:before {
		font-size: 0.5em;
		visibility: hidden;
	}
	.no-backgroundsize & {
		background-image: url(../img/logo-david.gif);
	}
}
#main {
	background: url(../img/bg-david.jpg) no-repeat center 10em;
	background-size: 100% auto;
	margin: 4.5em 1em 0;
	min-height: 44em;
}

////////////////////////////////////////////////////////////////////////////////
// Class
////////////////////////////////////////////////////////////////////////////////

.uptodate {
	color: #00ac01;
	i {
		text-shadow: 0 0 5px #00ac01;
	}
}
.outofdate {
	color: #ab0101;
	i {
		text-shadow: 0 0 5px #ab0101;
	}
}

////////////////////////////////////////////////////////////////////////////////
// Page
////////////////////////////////////////////////////////////////////////////////

#home-page {
	#examples {
		padding-left: 1em;
		
		li {
			max-width: 19em;
		}
		img {
			float: right;
			margin-top: 0.25em;
		}
	}
	.badge-maker{
		strong{
			padding-right: 1em;
		}
		span {
			color: green
		}
		span.nope {
			color: #911;
		}
	}
}

#status-page {
	#repo {
		h1 {
			a:first-child {
				font-weight: normal;
			}
		}
	}
	#status {
		padding: 0 0.5em;
		background-color: transparent;
	}
	.summary {
		margin-bottom:0.6em;
		i {
			padding: 0 0.14em 0 0.3em;
		}
	}
	#deps {
		table {
			width: 100%;
			margin: 0 0 0 -0.714em;
			
			tr:nth-child(even) td {
				background: rgba(0, 0, 0, 0.05);
			}
			th {
				text-align: left;
			}
			th, td {
				padding: 0.714em;
			}
			td {
				min-width: 5em;
			}
			.status {
				padding-left:1.4em;
				min-width: 3em;
			}
			.dep {
				width: 100%;
			}
		}
	}
}
