////////////////////////////////////////////////////////////////////////////////
// Structure
////////////////////////////////////////////////////////////////////////////////

#hd {
	background: #444444;
	background: -moz-linear-gradient(top,  #444444 50%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#444444), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top,  #444444 50%,#0e0e0e 100%);
	background: -o-linear-gradient(top,  #444444 50%,#0e0e0e 100%);
	background: -ms-linear-gradient(top,  #444444 50%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #444444 50%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#0e0e0e',GradientType=0 );
	border-bottom: 2px solid #999;
	padding: 0 1em;
	box-shadow: inset 0 0 0.5em #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	
	> div {
		padding: 0.25em 0;
	}
}
#logo {
	background: url(../img/logo-david.png) no-repeat left center;
	background-size: auto 82%;
	padding-left: 1.75em;
	font-family: NeutonRegular, sans-serif;
	font-size: 2em;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	
	&:hover i:before {
		visibility: visible;
	}
	i:before {
		font-size: 0.5em;
		visibility: hidden;
	}
	.no-backgroundsize & {
		background-image: url(../img/logo-david.gif);
	}
}
#main {
	background: url(../img/bg-david.gif) no-repeat center 11em;
	background-size: 100% auto;
	margin: 4.5em 1em 0;
	min-height: 45em;
}
#ft {
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 4em 1em 1em;
	background: url(../img/icon-david-ft.gif) no-repeat center 1em;
	text-align: center;
	
	small {
		font-size: 0.857em;
		color: #ccc;
	}
	ul {
		list-style-type: none;
		margin: 0 0 0.5em 0;
		padding: 0;
		
		li {
			display: inline-block;
			margin: 0 0 0 1em;
			
			&:first-child {
				margin: 0;
			}
			a {
				font-weight: normal;
				font-size: 0.857em;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
// Class
////////////////////////////////////////////////////////////////////////////////

.uptodate {
	color: #89b700;
	i {
		text-shadow: 0 0 5px #89b700;
	}
}
.outofdate {
	color: #ce563f;
	
	&.pinned {
		color: #ded030;
		
		i {
			text-shadow: 0 0 5px #ded030;
		}
	}
	i {
		text-shadow: 0 0 5px #ce563f;
	}
}
ul.stats {
	li {
		margin: 0.5em 0;
		
		&:first-child {
			margin-top: 0;
		}
		span {
			font-size: 0.75em;
			display: block;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
// Page
////////////////////////////////////////////////////////////////////////////////

#home-page {
	#examples {
		padding-left: 1em;
		
		li {
			max-width: 20.5em;
		}
		img {
			float: right;
		}
	}
	.badge-maker{
		strong{
			padding-right: 1em;
		}
		span {
			color: green
		}
		span.nope {
			color: #911;
		}
	}
}

#status-page {
	#repo {
		h1 {
			a:first-child {
				font-weight: normal;
			}
			span {
				color: #ccc;
				font-size: 0.636em;
			}
		}
		p {
			color: #ccc;
			transition: color 0.25s linear;
			margin-top: -1em;
		}
		&:hover {
			p {
				color: #222;
			}
		}
	}
	#status {
		padding: 0 0.5em;
		background-color: transparent;
	}
	#dep-switch {
		list-style-type: none;
		padding: 0;
		border-bottom: 1px solid #ccc;
		
		li {
			display: inline-block;
			margin: 0 0.25em 0 0;
			
			a {
				background: #f6f6f6;
				position: relative;
				bottom: -1px;
				display: block;
				border: 1px solid #ccc;
				padding: 0.333em 0.5em;
				border-radius: 0.166em 0.166em 0 0;
				box-shadow: inset 0 0 1.5em #ccc;
				font-weight: normal;
				
				&.selected {
					background: #fff;
					background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ffffff));
					background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
					background: -o-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
					background: -ms-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
					background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 100%);
					border-bottom-color: #fff;
					box-shadow: none;
					font-weight: bold;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
	.summary {
		padding: 0;
		list-style-type: none;
		
		i {
			padding: 0 0.14em 0 0.3em;
		}
	}
	.dep-table {
		table {
			width: 100%;
			
			.js & {
				display: none;
			}
			&.stacktable {
				display: table;
				
				.st-head-row.st-head-row-main {
					display: none;
				}
				.st-head-row {
					padding-top: 1.429em;
				}
			}
			tr:nth-child(even) td {
				background: rgba(0, 0, 0, 0.05);
			}
			th {
				text-align: left;
			}
			th, td {
				padding: 0.714em;
			}
			td {
				min-width: 5em;
			}
			.status {
				padding-left: 1.75em;
				min-width: 3em;
			}
			.dep {
				width: 100%;
			}
		}
	}
	.fancybox-opened #badge-embed {
		display: block;
	}
	#badge-embed {
		display: none;
		width: 30em;
		
		> a {
			display: block;
		}
		label {
			display: block;
			margin-top: 1em;
		}
		input {
			width: 96%;
		}
	}
	.switch, .dep-graph {
		display: none;
	}
}
