////////////////////////////////////////////////////////////////////////////////
// Structure
////////////////////////////////////////////////////////////////////////////////

#main {
	background-size: auto auto;
}
#ft {
	margin: 4em 0 0;
	
	> div {
		position: relative;
	}
	ul {
		position: absolute;
		top: 2.25em;
		right: 0;
		text-align: right;
		
		&.social {
			top: -3.75em;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
// Page
////////////////////////////////////////////////////////////////////////////////

#home-page {
	#main {
		overflow: hidden;
	}
	#main > div {
		float: left;
		width: 71%;
	}
	#stats {
		float: left;
		width: 25%;
		margin: 1em 0 1em 2%;
		padding-left: 2%;
		position: relative;
		
		h2 {
			font-size: 1.143em;
		}
		&:before {
			content: url(../img/bg-stats-shadow.png);
			position: absolute;
			top: 0;
			left: -24px;
		}
	}
	#examples {
		padding-left: 3em;
	}
}
#status-page {
	.summary {
		li {
			display: inline;
		}
	}
	.dep-table {
		table {
			.js & {
				display: table;
			}
			&.stacktable {
				display: none;
			}
		}
	}
}