////////////////////////////////////////////////////////////////////////////////
// Structure
////////////////////////////////////////////////////////////////////////////////

header > div {
  margin: 0 auto;
  max-width: 67.143em;
}
#main {
  margin: 4.571em auto 0;
  max-width: 67.143em;
}
footer {
  > div {
    margin: 0 auto;
    max-width: 67.143em;
  }
}

#status-page {

  .node {

    circle {
      cursor: pointer;
      fill: @white;
      stroke: #7E827A;
      stroke-width: 1.5px;
    }
    text {
      font-size: 11px;
    }
  }
  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
  .switch {
    display: block;
    list-style-type: none;
    margin: -3.75em 0 0 0;
    padding: 0;
    float: right;

    li {
      display: inline;
      margin-left: 1em;
    }
    a {
      font-family: nevisbold, sans-serif;
      font-weight: 400;
      font-size: 0.857em;
      text-transform: uppercase;
      color: @grey4;

      &.selected {
        color: @grey0;

        i {
          color: @blue0;
        }
      }
      &:focus {
        outline: 0;
      }
      &:hover {
        color: @black0;
      }
    }
  }
  .loading {
    margin: 10em 0;
  }
  .summary {
    li {
      margin-left: 4.5em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  .changes-popup {
    width: 960px;
  }
}
