.project-page {
  .modal-badge {
    width: 450px;
    max-width: 100%;

    .badge-embed {
      width: 30em;

      .theme > a, label {
        display: block;
        margin-top: 1em;
      }
      input {
        width: 96%;
      }
    }
  }
}
