@media only screen and (min-width: 960px) {
  .project-page {
    .node {
      circle {
        cursor: pointer;
        fill: $white;
        stroke: #7E827A;
        stroke-width: 1.5px;
      }
      text {
        font-size: 11px;
      }
    }
    path.link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
  }
}
